coverage/
build/
dist/
api-docs/
browser-test/

*.json

# see .gitignore

*.d.ts
*.d.cts
*.d.mts
!*.types.d.ts
!*.types.d.mts
!*.types.d.cts
!packages/bundle-source/src/exports.d.ts
!packages/captp/src/ts-types.d.ts
!packages/cli/test/_types.d.ts
!packages/compartment-mapper/src/types-external.d.ts
!packages/compartment-mapper/src/types.d.ts
!packages/daemon/src/types.d.ts
!packages/daemon/types.d.ts
!packages/eventual-send/src/exports.d.ts
!packages/eventual-send/src/types.d.ts
!packages/exo/src/types.d.ts
!packages/far/src/exports.d.ts
!packages/lp32/types.d.ts
!packages/pass-style/src/types.d.ts
!packages/ses/src/reporting-types.d.ts
!packages/ses/types.d.ts
!packages/stream/types.d.ts
!packages/trampoline/types.d.ts
!packages/where/types.d.ts
