{
  "extends": ["airbnb-base", "prettier"],
  "root": true,
  "env": {
    "amd": true,
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "import/named": "error",
    "sort-imports": ["error", {
        "ignoreCase": false,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false,
    }],  
    "no-eval": "off",
    "no-param-reassign": "off",
    "no-cond-assign": "off",
    "func-names": "off",
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
    "guard-for-in": "off",
    "import/prefer-default-export": "off",
    "prefer-rest-params": "off",
    "one-var": "off",
    "prefer-spread": "off",
    "no-lonely-if": "off",
    "no-continue": "off",
    "no-shadow": "off",
    "no-multi-assign": "off"
  }
}
