
:root {
  --dim-toolbar-contents-height: 71px;
  --dim-footer-height: 0;
}

.title {
  padding-left: 60px;
  font-size: 20px;
}

.tsd-toolbar-contents::after {
  position: absolute;
  top: 7px;
  width: 57px;
  height: 57px;
  content: '';
  background-image: url(/images/endo-logo-red-57px.png);
}
