name: Browser Tests
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  schedule:
    - cron: '0 0 * * *' # Runs every day at midnight

permissions:
  contents: read
  actions: write

jobs:
  browser-tests:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    # This Chrome nightly image can no longer install browsers in Github CI for
    # lack of some system dependencies:
    #  Package 'libasound2' has no installation candidate
    #  Unable to locate package libicu70
    #  Unable to locate package libffi7
    #  Unable to locate package libx264-163
    # container:
    #   image: selenium/standalone-chrome:nightly
    #   options: --user root # reintroducing a GH Actions default expectation
    #   ## https://docs.github.com/en/actions/creating-actions/dockerfile-support-for-github-actions#user
    #   ## the Selenium image is configured to not run as root, so we have to undo some of it
    # env:
    #   HOME: /root # Firefox complains otherwise
    steps:
      - name: Put unstable chrome where playwright would look for it
        run: mv /opt/google/chrome /opt/google/chrome-unstable
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 18
      - name: Provide yarn # yarn is missing in the Selenium image
        run: corepack enable
      - name: Install dependencies
        run: yarn install
      - name: Build artifacts
        run: yarn build
      - name: Install browser test dependencies
        working-directory: browser-test
        run: npm ci --ignore-scripts
      - name: Install Playwright Browsers
        working-directory: browser-test
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        working-directory: browser-test
        run: npx playwright test
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        if: always()
        with:
          name: browser-test-report
          path: browser-test/playwright-report/
          retention-days: 30
