name: CI

# run CI on pushes to master, and on all PRs (even the ones that target other
# branches)

on:
  push:
    branches: [master]
  pull_request:

# This file has necessary redundancies since of github actions aren't supporting:
# - the definition of macros, which could be called from each job.
# - reporting the status of steps in the PR (only jobs and workflows are reported).
# Steps between "begin" and "end" should be the same in every job.

jobs:
  lint:
    # begin macro

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # without this, setup-node errors on mismatched yarn versions
      - name: Enable corepack
        run: corepack enable

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
          cache: yarn

      - name: Install dependencies
        run: yarn install --immutable

      # end macro

      - name: Run yarn build
        run: yarn build

      - name: Run yarn lint
        run: yarn lint

  docs:
    # begin macro

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # without this, setup-node errors on mismatched yarn versions
      - name: Enable corepack
        run: corepack enable

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
          cache: yarn

      - name: Install dependencies
        run: yarn install --immutable

      # end macro

      - name: Run yarn build
        run: yarn build

      # build the API docs to verify it works
      - name: build API docs
        run: yarn docs

      # build the API docs in markdown for agoric/documentation repo to verify it works
      - name: build API docs in markdown
        run: yarn docs:markdown-for-agoric-documentation-repo

  test:
    # begin macro

    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x, 20.x, 22.x]
        platform: [ubuntu-latest, macos-15]
        # windows-latest exhibited flakey tests that are not yet worth the
        # trouble to investigate, and blocked us from upgrading yarn from 1 to
        # 4.

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # without this, setup-node errors on mismatched yarn versions
      - run: corepack enable

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn

      - name: Install dependencies
        run: yarn install --immutable

      # end macro

      - name: Run yarn build
        run: yarn build

      - name: Run yarn test
        run: yarn test

  test-async-hooks:
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        node-version:
          # '16.1' last version before some significant promise hooks changes
          # '16.5' last version before unconditional promise fast-path
          # '16.6' first version after unconditional promise fast-path
          - '18'
          # '20.6' not viable due to https://github.com/nodejs/node/issues/49497
          # '20.3' to '20.6' not viable due to https://github.com/nodejs/node/pull/49211
          # '20.7' first SES-viable version
          # '20.9' first LTS of 20
          - '20'
        platform:
          - ubuntu-latest

    # begin macro

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # without this, setup-node errors on mismatched yarn versions
      - run: corepack enable

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn

      # end macro

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run yarn build
        run: yarn build

      - name: Run yarn test (@endo/init)
        working-directory: packages/init
        run: yarn test

  cover:
    # begin macro

    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x, 20.x]
        platform: [ubuntu-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # without this, setup-node errors on mismatched yarn versions
      - run: corepack enable

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn

      - name: Install dependencies
        run: yarn install --immutable

      # end macro

      - name: Run yarn build
        run: yarn build

      - name: Run yarn test:c8
        run: yarn test:c8

  test262:
    # begin macro

    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x, 20.x]
        platform: [ubuntu-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # without this, setup-node errors on mismatched yarn versions
      - run: corepack enable

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn

      - name: Install dependencies
        run: yarn install --immutable

      # end macro

      - name: Run yarn build
        run: yarn build

      - name: Run yarn test262
        run: exit 0 # TODO remove test262 from required tests for CI

  test-hermes:
    # begin macro

    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # without this, setup-node errors on mismatched yarn versions
      - run: corepack enable

      - name: Use Node.js 22.x
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
          cache: yarn

      - name: Install dependencies
        run: yarn install --immutable

      # end macro

      - name: Run yarn build
        run: yarn build

      - name: Run SES/Hermes smoke test
        run: yarn test:hermes

  viable-release:
    # begin macro

    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x, 20.x]
        platform: [ubuntu-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # without this, setup-node errors on mismatched yarn versions
      - run: corepack enable

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn

      - name: Install dependencies
        run: yarn install --immutable

      # end macro

      - name: build
        run: yarn run build

      - name: pack
        run: yarn workspaces foreach --all --topological exec yarn pack

      # Prepack (without cleanup per package) to ensure that type resolution in
      # dependent packages continues to work when the typedefs are generated by
      # their upstream packages. This helps avoid a situation in which the types
      # only resolve because of the state of the local filesystem, and fails
      # when imported in an NPM node_modules tree.
      - name: Prepack packages
        run: yarn lerna run --reject-cycles --concurrency 1 prepack

  test-xs:
    # begin macro

    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [20.x]
        # may include release tags and hashes:
        moddable-version: [5.0.0]
        platform: [ubuntu-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: endo

      # without this, setup-node errors on mismatched yarn versions
      - run: corepack enable
        working-directory: endo

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
          cache-dependency-path: endo/yarn.lock

      - name: Install dependencies
        working-directory: endo
        run: yarn install --immutable

      - name: Install engines
        working-directory: endo
        run: yarn workspace @endo/benchmark run install-engines

      # end macro

      - name: Run yarn build
        working-directory: endo
        run: yarn build

      - name: Restore XS binary cache
        id: restore-xs
        uses: actions/cache@v4
        with:
          path: bin/xst
          key: xst-lin64-${{ matrix.moddable-version }}

      - name: Choose XS download or build
        if: steps.restore-xs.outputs.cache-hit != 'true'
        id: check-release
        run: |
          if curl -f -s -o /dev/null -I -L https://api.github.com/repos/Moddable-OpenSource/moddable/releases/tags/${{ matrix.moddable-version }}
          then
            echo release=download
          else
            echo release=build
          fi >> $GITHUB_OUTPUT

      - name: Download XS
        if: steps.check-release.outputs.release == 'download'
        run: |
          wget "https://github.com/Moddable-OpenSource/moddable/releases/download/${{ matrix.moddable-version }}/xst-lin64.zip"
          unzip xst-lin64.zip -d bin
          mkdir -p bin
          chmod 755 bin/xst

      - name: Checkout XS
        if: steps.check-release.outputs.release == 'build'
        uses: actions/checkout@v4
        with:
          repository: moddable-OpenSource/moddable
          ref: ${{ matrix.moddable-version }}
          path: moddable

      - name: Build XS
        if: steps.check-release.outputs.release == 'build'
        working-directory: moddable/xs/makefiles/lin
        run: |
          make debug MODDABLE=$GITHUB_WORKSPACE/moddable CC='cc "-D__has_builtin(x)=1"' # give the syntax highlighter a hand: '
          mkdir -p $GITHUB_WORKSPACE/bin
          cp $GITHUB_WORKSPACE/moddable/build/bin/lin/debug/xst $GITHUB_WORKSPACE/bin/xst

      - name: Run XS tests
        working-directory: endo
        run: |
          PATH=$PATH:$GITHUB_WORKSPACE/bin
          yarn test:xs

  linear-history:
    runs-on: ubuntu-latest
    if: >-
      github.event_name == 'pull_request' &&
      github.event.pull_request.draft == false &&
      github.event.pull_request.base.ref == 'master' &&
      !contains(github.event.pull_request.labels.*.name, 'bypass:linear-history')
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - shell: bash
        env:
          HEAD_SHA: ${{ github.event.pull_request.head.sha }}
          HEAD_LABEL: ${{ github.event.pull_request.head.label }}
          BASE_SHA: ${{ github.event.pull_request.base.sha }}
          BASE_LABEL: ${{ github.event.pull_request.base.label }}
        run: |
          merge_commits=$(git rev-list --merges "$BASE_SHA".."$HEAD_SHA")

          if [ -n "$merge_commits" ]; then
            echo "Error: merge commits found in $BASE_LABEL..$HEAD_LABEL"

            for merge_commit in $merge_commits; do
              echo "$merge_commit"
            done

            exit 1
          fi

          fixup_commits=
          for commit in $(git rev-list $BASE_SHA..$HEAD_SHA); do
            case $(git show --pretty=format:%s -s $commit) in fixup\!*|squash\!*|amend\!*)
              fixup_commits="$fixup_commits\n$commit"
              ;;
            esac
          done

          if [ -n "$fixup_commits" ]; then
            echo "Error: fixup/squash/amend commits found in $BASE_LABEL..$HEAD_LABEL"
            echo -e "$fixup_commits"
            exit 1
          fi

  no-fixup-commits:
    runs-on: ubuntu-latest
    if: >-
      github.event_name == 'pull_request' &&
      github.event.pull_request.draft == false &&
      github.event.pull_request.base.ref == 'master' &&
      !contains(github.event.pull_request.labels.*.name, 'bypass:linear-history')

    env:
      HEAD_SHA: ${{ github.event.pull_request.head.sha }}
      BASE_SHA: ${{ github.event.pull_request.base.sha }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Check for fixup commits
        id: fixup-commits
        run: |
          if ! git merge-base --is-ancestor "$BASE_SHA" "$HEAD_SHA"; then
             echo "PR is not up to date with target branch, skipping fixup commit check"
          elif [[ $(git rev-list "$BASE_SHA".."$HEAD_SHA" --grep="^\(fixup\|amend\|squash\)! " | wc -l) -eq 0 ]]; then
            echo "No fixup/amend/squash commits found in commit history"
          else
            echo "fixup/amend/squash commits found in commit history"
            exit 1
          fi
