name: Test project mutual dependency versions

# run CI on pushes to master, and on all PRs (even the ones that target other
# branches)

on:
  push:
    branches: [master]
  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          submodules: 'true'

      # without this, setup-node errors on mismatched yarn versions
      - run: corepack enable

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
      - name: Install graphviz
        run: sudo apt install -y graphviz

      - name: Check for cycles
        run: scripts/check-dependency-cycles.sh 0

        # Under Yarn "classic" this job also checked for mismatchedWorkspaceDependencies
        # (https://github.com/yarnpkg/yarn/blob/158d96dce95313d9a00218302631cd263877d164/src/cli/commands/workspaces.js#L49)
        # but it's not supported in Berry and it's better solved by the "workspace:*" protocol.
        # If we do want more workspace constraint enforcement, we can define arbitrarily with:
        #    https://yarnpkg.com/features/constraints
